<h1>Messagerie MQTT</h1>
@if (isOnline()) {
<h2>Bienvenue {{ username }}</h2>
<div>
  <label for="message">Message :</label>
  <input type="text" id="message" [(ngModel)]="message" />
  <button (click)="sendMessage()">Envoyer</button>
</div>

<h2>Messages reçus :</h2>
<div>
  <p *ngFor="let msg of messages">{{ msg }}</p>
</div>
}@else {
<div>
  <form (submit)="login()">
    <label for="username">Username :</label>
    <input type="text" id="username" name="username" [(ngModel)]="username" />
    <button type="submit">Login</button>
    <p style="color: red; font-size: large; font-weight: bolder">{{ error }}</p>
  </form>
</div>
}
